#aboutUs {
    display: flex;
    margin: 3.5% 11%;

    .contentWrapper {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 24%;
        position: absolute;
        right: 10%;
        margin-top: 7%;
        min-width: 35em;
    }
        h2 {
            position: relative;
            @extend %secondaryHeading;
            z-index: 1;

            @include responsive(phone) {
                text-align: center;
            }
        }

        p {
            position: relative;
            width: 55%;
            font-size: 2em;
            margin-top: 6%;
            font-family: $secondaryFontStack;
            z-index: 1;
        }

        ul {
            width: 48%;
            margin-left: 5%;
            margin-top: 2%;

            li {
                margin: 3% 2%;
                font-size: 2em;
                font-family: $secondaryFontStack;

                &::before {
                    content: "\2022";
                    color: $primaryColor;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
        @include responsive(phone) {
            margin: 11%;
            flex-direction: column;
    
            .contentWrapper {
                display: flex;
                flex-direction: column;
    
                h2{
                    order: 1;
                }
    
                img {
                    order: 2;
                    position: initial;
                    width: initial;
                    max-width: 39em;
                    align-self: center;
                }
                
                p {
                    order: 3;
                    width: initial;
                }
                
                ul {
                    order: 4;
                    width: initial;
                }
            }
    
        }
    }
