$primaryFontStack: 'Montserrat', Arial, sans-serif;
$secondaryFontStack: 'Lato', Arial, sans-serif;


$primaryFontColor: #50129f;
$secondaryColor: #2164ef;
$secondaryShadowColor: #193c83;
$thirdColor: white;
$primaryColor: #5e308c;
$alternativeColor: #2064ef;

%gradientBackgroundLP {
    background-image: linear-gradient(180deg, #5e308c 19.21%, #2064EF 102.39%);
}



%loginButtonStyle {
    padding: 5.5% 17%;
    background-color: $secondaryColor;
    border-radius: 10px;
    transition-duration: 0.4s;

    &:hover {
        background-color: #ffffff;
        color: $secondaryColor;
    }
}

%primaryButtonStyle {
    font-size: 2.5em;
    font-family: $secondaryFontStack;
    background-color: $secondaryColor;
    transition-duration: 0.4s;
    padding: 0.5em 1em;
    color: $thirdColor;

    &:hover {
        background-color: white;
        color: $secondaryColor;
    }
}


%secondaryHeading {
    font-family: $primaryFontStack;
    color: $secondaryColor;
    font-weight: 500;
    font-size: 4.5em;
}