#features {
    display: flex;
    flex-direction: column;
    margin: 3.5% 11%;
    margin-top: 0;

    h2 {
        @extend %secondaryHeading;
        align-self: flex-end;
    }

    .featuresContainer {
        display: flex;
        padding-top: 4%;

        .featureWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 1%;

            svg {
                color: $primaryColor;
                filter: drop-shadow(0px 2px 2px gray);
                font-size: 11em;
            }

            h2 {
                font-family: $primaryFontStack;
                color: $primaryColor;
                font-size: 3.5em;
                text-transform: uppercase;
                text-align: center;
                margin: 0;

                @include responsive(tab-port) {
                    font-size: 3em;
                }
            }

            p {
                font-size: 1.5em;
                text-align: center;
                width: 50%;
                font-family: $secondaryFontStack;
            }
        }
    }

    @include responsive(tab-port) {
        margin: 3.5% 0;

        h2 {
            margin: 0 11%
        }
    }

    @include responsive(phone) {
        h2 {
            align-self: center;
            text-align: center;
        }

        .featuresContainer {
            flex-direction: column;

            .featureWrapper {
                align-self: center;
                max-width: 70%;
                margin: 4.5% 0;

                p {
                    font-size: 2em;
                }
            }
        }
    }
}