footer {
    height: 20vh;
    padding: 0 11%;
    display: flex;
    background-color: $primaryColor;

    .socialMediaLinks {
        width: 11%;
        text-align: left;
    }

    .showMobile {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 15vw;
        text-align: center;
        margin-right: 4%;

        li {
            display: flex;
            flex-direction: column;
            width: 100%;

            a {
                color: white;
                font-size: 1.5em;
                font-family: $secondaryFontStack;
                margin: 0.2em 0.2em;

                svg {
                    margin-right: 3%;
                    width: 20px;
                }
            }
        }
    }

    .newsletterWrap {
        display: flex;
        flex-direction: column;
        align-self: center;

        p {
            color: white;
            font-size: 1.5em;
            font-family: $secondaryFontStack;
            margin-bottom: 3%;
        }

        form {
            height: 3.75vh;
            width: 13vw;

            .newsletterBar {
                background: transparent;
                border: 1px solid white;
                border-radius: 8px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                height: 100%;
                width: 70%;
                transition-duration: .4s;
                padding-left: 2%;

                &:focus {
                    background-color: rgb(255, 255, 255);
                    outline: none;
                }

                &::placeholder {
                    color: white;
                    padding-left: 4%;
                }

                &:focus::placeholder {
                    color: transparent;
                }
            }

            .newsletterSubmitButton {
                background-color: $secondaryColor;
                color: white;
                height: 110%;
                width: 23%;
                transition-duration: .4s;
                border: 1px solid $secondaryColor;
                border-radius: 8px;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;

                &:hover {
                    background-color: #ffffff;
                    color: $secondaryColor;
                }
            }
        }

    }

    @include responsive(tab-land) {
        .newsletterWrap {

            form {
                width: 25vw;
            }
        }
    }

    @include responsive(tab-port) {
        .socialMediaLinks{
            width: 16%;
        }
        .infoLinks {
            width: 25%;
        }
        .newsletterWrap {

            form {
                height: 2.75vh;
            }
        }
    }

    @include responsive(big-desktop) {
        .newsletterWrap {

            form {
                height: 2.75vh;
                width: 17vw;
            }
        }
    }

    @include responsive(phone) {
        .socialMediaLinks {
            display: none;
        }

        .infoLinks {
            display: none;
        }

        .newsletterWrap {
            display: none;
        }

        .showMobile {
            display: flex;
            width: 80vw;
            flex-direction: row;
            font-size: 2em;
        }
    }
}