main.LP{
    height: 76.5vh;
    @extend %gradientBackgroundLP;
    .contentWrapper{
        display: flex;
        justify-content: flex-start;
        .textContentWrapper {
            margin: 1% 13%;
            display: flex;
            flex-direction: column;
            z-index: 3;
            h1 {
                color: white;
                font-family: $primaryFontStack;
                font-size: 8em;
                width: 80vw;
                letter-spacing: -0.09em;
            }
            p {
                color: white;
                font-family: $secondaryFontStack;
                font-size: 3em;
                width: 35vw;
                margin: 2% 0 4% 0;
            }
            a {
                @extend %primaryButtonStyle;
            }
        }
        img {
            max-width: 75em;
            height: 50em;
            display: flex;
            position: absolute;
            bottom: 8.5em;
            z-index: 1;
            right: 0;
        }
    }
    .svgContainer{
        position: absolute;
        height: 21vh;
        overflow: hidden;
        width: 100%;
        top: 56em;
        filter: drop-shadow(0px -2px 2px #767285);
        z-index: 2;
    }
    svg{
        height: 100%;
        width: 100%;
        path {
            stroke: none; 
            fill: white;
        }
    }
    @include responsive(tab-land) {
        height: 68vh;
        .contentWrapper{
        img {
            bottom: 23em;
            max-width: 67em;
        }
    }
    .svgContainer {
        height: 27vh;
    }
    }
    @include responsive(tab-port) {
        height: 60vh;
        .contentWrapper{
            img {
                max-width: 65em;
                bottom: 22em;
            }
        }
    }
}