    .card {
        padding: 5%;
        margin: 5%;
        box-shadow: 2px 0px 3px 1px lightgray;

        h2 {
            @extend %secondaryHeading;
            text-align: center;
            text-transform: uppercase;
            padding: 2.5%;
        }

        p {
            font-family: $secondaryFontStack;
            margin: 8%;
            font-size: 2em;
        }
    }

    .courseContents {
        height: 5em;
        overflow: hidden;
        max-height: 5em;
        transition-property: all;
        transition-duration: 1s;

        &.dropdown {
            height: 100%;
            max-height: 500em;
        }

        h2 {
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                display: flex;
                content: url('https://api.iconify.design/mdi:arrow-right-drop-circle.svg?color=%232164ef&height=24');
            }
        }

        .contentWrapper {
            display: flex;
            flex-direction: column;

            .itemWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 6% 0;

                &.trailer {
                    margin-bottom: 10%;
                }

                img {
                    width: 71%;
                }

                .itemHeader {
                    margin: initial;
                    margin-top: 1%;
                    color: $secondaryColor;
                    text-transform: uppercase;
                }

                .itemDescription {
                    margin: initial;
                }
            }

        }
    }
    .content.card {
        display: flex;
        flex-direction: column;
        

        p {
            margin: initial;
            display: inline;
        }

        ul {
            width: 70%;
            margin-top: 2%;
        }

        li {
            line-height: 28px;
        }
        p.altColor {
            color: $secondaryColor;
        }

    }

    @include responsive(desktopsMF){
        .midSection.courseOverviewPage {
            padding: 0 17%;
            display: flex;
            justify-content: space-between;

            .top.card {
                width: 49%;
                margin-top: 2%;
                padding: 0;
            }
            .card {
                margin: initial;

                p {
                    margin-top: 2%;
                }

                h2 {
                    font-size: 3.5em;
                    margin-top: 3%;
                }
            }
        }
        .content.card {
            margin: 2% 17%;
            padding-left: 2.5%;
            padding-top: initial;
        }
    }