    .card {
        padding: 5%;
        margin: 5%;
        box-shadow: 2px 3px 3px 1px lightgray;

        h2 {
            font-family: $primaryFontStack;
            color: $primaryColor;
            font-size: 4em;
            text-align: center;
            text-transform: uppercase;
            padding: 2.5%;
        }

        p {
            font-family: $secondaryFontStack;
            margin: 8%;
            font-size: 2em;
        }
    }

    .courseContents {
        height: 5em;
        overflow: hidden;
        transition: top 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        &.dropdown{
            height: 100%;
        }
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                display: flex;
                content: url('https://api.iconify.design/mdi:arrow-right-drop-circle.svg?color=%232164ef&height=24');
            }
        }

        .contentWrapper {
            display: flex;
            flex-direction: column;

            .itemWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 6% 0;
                &.trailer {
                    margin-bottom: 10%;
                }

                img {
                    width: 71%;
                }

                .itemHeader {
                    margin: initial;
                    margin-top: 1%;
                    color: $secondaryColor;
                    text-transform: uppercase;
                }

                .itemDescription {
                    margin: initial;
                }
            }

        }
    }