nav {
    background-color: $primaryColor;
    height: 11vh;
    display: flex;
    position: relative;
    padding: 0 4% 0 14%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    .logoLink {
        align-self: center;
    }

    .logo {
        width: 17em;
        z-index: 2;
    }
    form {
        display: flex;
        align-self: center;
        background-color: $secondaryColor;
        height: 45%;
        max-height: 3.35em;
        width: 25%;
        border-radius: 10px;
        z-index: 3;
        margin-left: 1%;

        .searchIcon {
            align-self: center;
            margin: 0 1.5% 0 2.5%;
            color: white;
            font-size: 1.67em;
        }

        input {
            font-size: 1.50em;
            align-self: center;
            height: 86%;
            width: 75%;
            color: #ffffff;
            background-color: $secondaryColor;

            &:focus {
                outline: none;
            }

            &:focus::placeholder {
                color: transparent;
            }

            &::placeholder {
                font-size: 0.92em;
                color: #e2e2e2;
            }
        }
    }

    ul {
        width: 74%;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: all 0.5s;

        .showMobile {
            display: none;
        }

        li {
            margin: 0 2%;

            img {
                height: 9vh;
                width: 0.07vw;
            }

            a {
                font-family: $secondaryFontStack;
                color: white;
                font-size: 1.5em;
                letter-spacing: 0.04em;
            }

            .shoppingCart {
                font-size: 1.95em;
            }

            .loginButton {
                @extend %loginButtonStyle;
            }

        }
    }

    @include responsive(tab-port) {
        padding: 0 15%;
        height: 6vh;
    }
}

.hamburger {
    display: none;
}

@include responsive(phone) {
    nav {
        height: 6vh;
        padding: 0 4% 0 8%;
        justify-content: space-between;

        .logoLink {
            position: absolute;
            left: 34%;
        }

        form {
            border-radius: 26px;
            transition-duration: .4s;
            height: 70%;
            width: 30%;

            .searchIcon {
                font-size: 3.75em;
            }

            input {
                font-size: 2em;
                transition-duration: .4s;
                width: 53%;

                &:focus {
                    width: 47vw;
                }
            }

            &:focus-within {
                width: 64vw;
            }
        }
    }

    .hamburger {
        display: block;
        outline: none;
    }

    #navLinks {
        top: -837%;
        position: absolute;
        display: flex;
        flex-direction: column;
        transition: top 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
        overflow: hidden;
        box-sizing: border-box;
        width: 100vw;
        left: 0;
        height: 39vh;
        z-index: 5;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $primaryColor;

        &.mobile {
            top: 101%;
        }

        .removeMobile {
            display: none;
        }

        .showMobile {
            display: block;
        }

        li {
            font-size: 2.5em;
            padding: 2% 0;
            width: 100vw;

            &:active {
                background-color: $secondaryColor;
            }
        }

        .loginButton {
            background: none;
            padding: 0;
            border-radius: initial;
        }

    }

}

@include responsive(landPhoneMF) {
    nav {
        height: 10vh;
        min-height: 62px;
    }
}