#programs {
    margin: 3.5% 11%;

    h2 {
        @extend %secondaryHeading;
        min-height: 9vh;
    }

    .main-carousel {
        padding: 2% 4%;
        margin-bottom: 8%;
        border: none;

        @include responsive(tab-port) {
            padding: 0;
        }

        .flickity-button {
            background: $secondaryColor;

        }

        .flickity-button-icon {
            fill: white;
        }

        .flickity-prev-next-button.previous {
            left: -40px;
        }

        .flickity-prev-next-button.next {
            right: -40px;
        }

        .carousel-cell {
            padding-top: 1%;
            width: 29%;
            max-width: 19.5vw;
            display: flex;
            flex-direction: column;
            margin-right: 1%;
            border: 1px solid lightgray;
            margin-bottom: 1%;
            align-items: center;
            text-align: center;
            box-shadow: 2px 2px 3px rgb(184, 190, 196);

            @include responsive(mid-browser-window) {
                max-width: 25vw;
            }

            img {
                width: 17vw;
            }

            h3 {
                margin: 1% 2%;
                font-family: $secondaryFontStack;
                color: $primaryColor;
                font-size: 3em;
                min-height: 12.5vh;

                @include responsive (tab-port) {
                    min-height: 10vh;
                }

                @include responsive(mid-browser-window) {
                    min-height: 12.5vh;
                }
            }

            p {
                font-family: $secondaryFontStack;
                font-size: 1.5em;
                margin-bottom: 2%;
            }

            a {
                @extend %primaryButtonStyle;
                padding: 1% 1%;
                width: 65%;
                margin: 3%;
                border: 1px solid $secondaryColor;
                border-radius: 0;
            }
        }
    }

    @include responsive(phone) {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 9% 11%;

        h2 {
            margin: 7%;
        }

        .main-carousel {

            .carousel-cell {
                min-width: 100%;
                max-width: 100%;

                img {
                    width: 75%;
                }

                .moreInfoButton {
                    width: 70%;
                }
            }
        }
    }
}

@include responsive(landPhoneMF) {
    #programs {
        .main-carousel {
            .carousel-cell {
                min-height: 29.5em;
                width: 32%;
                a {
                    margin-top: auto;
                }
            }
        }
    }
}