/*COLORS*/
main.LP {
  background-image: linear-gradient(180deg, #5e308c 19.21%, #7256ea 102.39%);
}

nav ul li .loginButton {
  padding: 5.5% 17%;
  background-color: #2164ef;
  border-radius: 10px;
  transition-duration: 0.4s;
}
nav ul li .loginButton:hover {
  background-color: #ffffff;
  color: #2164ef;
}

#programs .main-carousel .carousel-cell a, main.LP .contentWrapper .textContentWrapper a {
  font-size: 2.5em;
  font-family: "Lato", Arial, sans-serif;
  width: max-content;
  background-color: #2164ef;
  border-radius: 15px;
  transition-duration: 0.4s;
  padding: 0.5em 1em;
  color: white;
}
#programs .main-carousel .carousel-cell a:hover, main.LP .contentWrapper .textContentWrapper a:hover {
  background-color: white;
  color: #2164ef;
}

/*COLORS*/
main.LP {
  background-image: linear-gradient(180deg, #5e308c 19.21%, #7256ea 102.39%);
}

nav ul li .loginButton {
  padding: 5.5% 17%;
  background-color: #2164ef;
  border-radius: 10px;
  transition-duration: 0.4s;
}
nav ul li .loginButton:hover {
  background-color: #ffffff;
  color: #2164ef;
}

#programs .main-carousel .carousel-cell a, main.LP .contentWrapper .textContentWrapper a {
  font-size: 2.5em;
  font-family: "Lato", Arial, sans-serif;
  width: max-content;
  background-color: #2164ef;
  border-radius: 15px;
  transition-duration: 0.4s;
  padding: 0.5em 1em;
  color: white;
}
#programs .main-carousel .carousel-cell a:hover, main.LP .contentWrapper .textContentWrapper a:hover {
  background-color: white;
  color: #2164ef;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 8px 8px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

nav {
  background-color: #5e308c;
  height: 11vh;
  display: flex;
  padding: 0 4% 0 21%;
  box-shadow: 0 3px 2px -2px #193c83;
}
nav form {
  display: flex;
  align-self: center;
  background-color: #2164ef;
  height: 4vh;
  width: 17vw;
  border-radius: 10px;
}
nav form .searchIcon {
  align-self: center;
  margin: 0 1.5% 0 2.5%;
  color: white;
  font-size: 1.67em;
}
nav form input {
  font-size: 1.5em;
  align-self: center;
  height: 4vh;
  width: 14vw;
  color: #ffffff;
  background-color: #2164ef;
}
nav form input:focus {
  outline: none;
}
nav form input:focus::placeholder {
  color: transparent;
}
nav form input::placeholder {
  font-size: 0.92em;
  color: #e2e2e2;
}
nav ul {
  width: 74%;
  justify-content: center;
  align-items: center;
  display: flex;
}
nav ul li {
  margin: 0 2%;
}
nav ul li img {
  height: 9vh;
  width: 0.07vw;
}
nav ul li a {
  font-family: "Lato", Arial, sans-serif;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.04em;
}
nav ul li .shoppingCart {
  font-size: 1.95em;
}
@media only screen and (max-width: 900px) {
  nav form {
    height: 3vh;
  }
  nav form input {
    height: 3vh;
  }
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    height: 8vh;
    padding: 0 4% 0 8%;
    justify-content: space-between;
  }
  nav form {
    width: 34vw;
    height: 5vh;
    border-radius: 26px;
    transition-duration: 0.4s;
  }
  nav form .searchIcon {
    font-size: 4.5em;
  }
  nav form input {
    width: 21vw;
    height: 5vh;
    font-size: 2em;
    transition-duration: 0.4s;
  }
  nav form input:focus {
    width: 47vw;
  }
  nav form:focus-within {
    width: 64vw;
  }
  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
#specialAd {
  height: 9.5vh;
  background-color: #2164ef;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#specialAd p {
  font-family: "Lato", Arial, sans-serif;
  color: white;
  font-size: 2.3em;
  font-weight: 400;
  letter-spacing: 0.03em;
}

main.LP {
  height: 80vh;
}
main.LP .contentWrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
main.LP .contentWrapper .textContentWrapper {
  height: 100%;
  margin: 1% 13%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
main.LP .contentWrapper .textContentWrapper h1 {
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 8em;
  width: 80vw;
  letter-spacing: -0.09em;
}
main.LP .contentWrapper .textContentWrapper p {
  color: white;
  font-family: "Lato", Arial, sans-serif;
  font-size: 3em;
  width: 35vw;
  margin: 2% 0 4% 0;
}
main.LP .contentWrapper img {
  height: 50em;
  display: flex;
  position: absolute;
  right: 0;
  z-index: 1;
  align-self: center;
  bottom: 20%;
}
main.LP .svgContainer {
  align-self: flex-end;
  position: absolute;
  height: 30%;
  overflow: hidden;
  width: 100%;
  filter: drop-shadow(0px -3px 2px #6d57ac);
  z-index: 3;
}
main.LP svg {
  height: 100%;
  width: 100%;
}
main.LP svg path {
  stroke: none;
  fill: white;
}
@media only screen and (max-width: 1401px) {
  main.LP .contentWrapper .textContentWrapper {
    z-index: 3;
  }
  main.LP .contentWrapper img {
    z-index: 1;
  }
  main.LP .svgContainer {
    z-index: 2;
  }
}
@media only screen and (max-width: 900px) {
  main.LP .contentWrapper img {
    height: 41em;
  }
}
@media only screen and (min-width: 1800px) {
  main.LP .contentWrapper .textContentWrapper {
    margin: 3% 13%;
  }
  main.LP .contentWrapper .textContentWrapper h1 {
    font-size: 10em;
  }
  main.LP .contentWrapper img {
    height: 69em;
  }
  main.LP .svgContainer {
    top: 77em;
  }
}

#features {
  display: flex;
  flex-direction: column;
  padding: 0 8%;
}
#features h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #2164ef;
  font-weight: 500;
  font-size: 4em;
  align-self: flex-end;
}
#features .featuresContainer {
  display: flex;
  padding: 4% 0;
}
#features .featuresContainer .featureWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#features .featuresContainer .featureWrapper svg {
  color: #5e308c;
  filter: drop-shadow(0px 2px 2px gray);
  font-size: 11em;
}
#features .featuresContainer .featureWrapper h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #5e308c;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
}
#features .featuresContainer .featureWrapper p {
  font-size: 1.5em;
  text-align: center;
  width: 50%;
  font-family: "Lato", Arial, sans-serif;
}

#programs {
  padding: 1% 8%;
}
#programs h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #2164ef;
  font-size: 4em;
  font-weight: 500;
}
#programs .main-carousel {
  padding: 2% 4%;
  border: none;
}
#programs .main-carousel .flickity-button {
  background: #2164ef;
}
#programs .main-carousel .flickity-button-icon {
  fill: white;
}
#programs .main-carousel .carousel-cell {
  padding-top: 1%;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  border: 1px solid lightgray;
  margin-bottom: 1%;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 3px #b8bec4;
}
#programs .main-carousel .carousel-cell img {
  width: 17vw;
}
#programs .main-carousel .carousel-cell h3 {
  margin: 1% 2%;
  font-family: "Lato", Arial, sans-serif;
  color: #5e308c;
  font-size: 3em;
}
#programs .main-carousel .carousel-cell p {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.5em;
}
#programs .main-carousel .carousel-cell a {
  padding: 1% 1%;
  border-radius: 0;
  width: 20vw;
  margin: 3%;
  border: 1px solid #2164ef;
}

* {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1401px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
