@charset "UTF-8";
main.courseOverviewPage, main.LP {
  background-image: linear-gradient(180deg, #5e308c 19.21%, #2064EF 102.39%);
}

nav ul li .loginButton {
  padding: 5.5% 17%;
  background-color: #2164ef;
  border-radius: 10px;
  transition-duration: 0.4s;
}
nav ul li .loginButton:hover {
  background-color: #ffffff;
  color: #2164ef;
}

#programs .main-carousel .carousel-cell a, main.LP .contentWrapper .textContentWrapper a {
  font-size: 3em;
  font-family: "Lato", Arial, sans-serif;
  background-color: #2164ef;
  transition-duration: 0.4s;
  padding: 0.5em 1em;
  color: white;
}
#programs .main-carousel .carousel-cell a:hover, main.LP .contentWrapper .textContentWrapper a:hover {
  background-color: white;
  color: #2164ef;
}

#aboutUs h2, #programs h2, .card h2, #features h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #50129f;
  font-weight: 500;
  font-size: 4.5em;
}

main.courseOverviewPage, main.LP {
  background-image: linear-gradient(180deg, #5e308c 19.21%, #2064EF 102.39%);
}

nav ul li .loginButton {
  padding: 5.5% 17%;
  background-color: #2164ef;
  border-radius: 10px;
  transition-duration: 0.4s;
}
nav ul li .loginButton:hover {
  background-color: #ffffff;
  color: #2164ef;
}

#programs .main-carousel .carousel-cell a, main.LP .contentWrapper .textContentWrapper a {
  font-size: 3em;
  font-family: "Lato", Arial, sans-serif;
  background-color: #2164ef;
  transition-duration: 0.4s;
  padding: 0.5em 1em;
  color: white;
}
#programs .main-carousel .carousel-cell a:hover, main.LP .contentWrapper .textContentWrapper a:hover {
  background-color: white;
  color: #2164ef;
}

#aboutUs h2, #programs h2, .card h2, #features h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #50129f;
  font-weight: 500;
  font-size: 4.5em;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 8px 8px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 33px;
  height: 21.9px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.65px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 33px;
  height: 3.3px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -9.3px;
}
.hamburger-inner::after {
  bottom: -9.3px;
}

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 1.65px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 9.3px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 18.6px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 9.3px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -18.6px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

nav {
  background-color: #5e308c;
  height: 11vh;
  display: flex;
  position: relative;
  padding: 0 4% 0 14%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
nav .logoLink {
  align-self: center;
}
nav .logo {
  width: 17em;
  z-index: 2;
}
nav form {
  display: flex;
  align-self: center;
  background-color: #2164ef;
  height: 45%;
  max-height: 3.35em;
  width: 25%;
  border-radius: 10px;
  z-index: 3;
  margin-left: 6%;
}
nav form .searchIcon {
  align-self: center;
  margin: 0 1.5% 0 2.5%;
  color: white;
  font-size: 1.67em;
}
nav form input {
  font-size: 1.5em;
  align-self: center;
  height: 86%;
  width: 75%;
  color: #ffffff;
  background-color: #2164ef;
}
nav form input:focus {
  outline: none;
}
nav form input:focus::placeholder {
  color: transparent;
}
nav form input::placeholder {
  font-size: 0.92em;
  color: #e2e2e2;
}
nav ul {
  width: 74%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.5s;
}
nav ul .showMobile {
  display: none;
}
nav ul li {
  margin: 0 2%;
}
nav ul li img {
  height: 9vh;
  width: 0.07vw;
}
nav ul li a {
  font-family: "Lato", Arial, sans-serif;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.04em;
}
nav ul li .shoppingCart {
  font-size: 1.95em;
}
@media only screen and (max-width: 900px) {
  nav {
    padding: 0 15%;
    height: 6vh;
  }
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    height: 6vh;
    padding: 0 4% 0 8%;
    justify-content: space-between;
  }
  nav .logoLink {
    position: absolute;
    left: 34%;
    transition-duration: 0.5s;
    display: block;
  }
  nav .logoLink.hide {
    display: none;
  }
  nav form {
    border-radius: 26px;
    transition-duration: 0.4s;
    height: 70%;
    width: 30%;
    left: initial;
  }
  nav form .searchIcon {
    font-size: 3.75em;
  }
  nav form input {
    font-size: 2em;
    transition-duration: 0.4s;
    width: 53%;
  }
  nav form input:focus {
    width: 47vw;
  }
  nav form:focus-within {
    width: 64vw;
  }

  .hamburger {
    display: block;
    outline: none;
  }

  #navLinks {
    top: -837%;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: top 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;
    left: 0;
    height: 39vh;
    z-index: 5;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #5e308c;
  }
  #navLinks.mobile {
    top: 101%;
  }
  #navLinks .removeMobile {
    display: none;
  }
  #navLinks .showMobile {
    display: block;
  }
  #navLinks li {
    font-size: 2.5em;
    padding: 2% 0;
    width: 100vw;
  }
  #navLinks li:active {
    background-color: #2164ef;
  }
  #navLinks .loginButton {
    background: none;
    padding: 0;
    border-radius: initial;
  }
}
/* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
/* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
@media only screen and (orientation: landscape) and (min-width: 350px) {
  nav {
    height: 10vh;
    min-height: 62px;
  }
}
#specialAd {
  background-color: #2164ef;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
#specialAd p {
  font-family: "Lato", Arial, sans-serif;
  color: white;
  font-size: 2.3em;
  font-weight: 400;
  letter-spacing: 0.03em;
}
@media only screen and (max-width: 600px) {
  #specialAd {
    height: min-content;
    text-align: center;
  }
}

main.LP {
  height: 90vh;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
main.LP .contentWrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
main.LP .contentWrapper .textContentWrapper {
  height: 100%;
  margin: 1% 13%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
main.LP .contentWrapper .textContentWrapper h1 {
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 8em;
  width: 80vw;
  letter-spacing: -0.09em;
}
main.LP .contentWrapper .textContentWrapper p {
  color: white;
  font-family: "Lato", Arial, sans-serif;
  font-size: 3em;
  width: 35vw;
  margin: 2% 0 4% 0;
}
main.LP .contentWrapper .textContentWrapper a {
  border-radius: 15px;
  width: max-content;
  font-size: 3em;
  margin-left: 3.5%;
}
main.LP .contentWrapper img {
  height: 50em;
  display: flex;
  position: absolute;
  right: 0;
  z-index: 1;
  align-self: center;
  bottom: 20%;
}
main.LP .svgContainer {
  align-self: flex-end;
  position: absolute;
  height: 30%;
  overflow: hidden;
  width: 100%;
  z-index: 3;
}
main.LP svg {
  height: 100%;
  width: 100%;
}
main.LP svg path {
  stroke: none;
  fill: white;
}
@media only screen and (max-width: 1401px) {
  main.LP .contentWrapper .textContentWrapper {
    z-index: 3;
  }
  main.LP .contentWrapper img {
    z-index: 1;
  }
  main.LP .svgContainer {
    z-index: 2;
  }
}
@media only screen and (max-width: 900px) {
  main.LP {
    height: 46vh;
  }
  main.LP .contentWrapper img {
    height: 42em;
    top: 19%;
  }
  main.LP .contentWrapper .svgContainer {
    height: 18%;
  }
}
@media only screen and (max-width: 900px) and (max-height: 770px) {
  main.LP {
    height: 65vh;
  }
  main.LP .contentWrapper {
    height: 100%;
    top: 26%;
  }
  main.LP .contentWrapper img {
    height: 45em;
    top: 22%;
  }
}
@media only screen and (min-width: 1800px) {
  main.LP {
    height: 73vh;
  }
  main.LP .contentWrapper .textContentWrapper {
    margin: 3% 13%;
  }
  main.LP .contentWrapper .textContentWrapper h1 {
    font-size: 10em;
  }
  main.LP .contentWrapper img {
    height: 69em;
    bottom: 28%;
  }
  main.LP .svgContainer {
    top: 77em;
  }
}
@media only screen and (max-width: 600px) {
  main.LP {
    height: 80vh;
  }
  main.LP .contentWrapper {
    height: 100%;
    top: 26%;
  }
  main.LP .contentWrapper .textContentWrapper {
    margin: 1% 0%;
    text-align: center;
    align-items: center;
  }
  main.LP .contentWrapper .textContentWrapper h1 {
    font-size: 7.5em;
  }
  main.LP .contentWrapper .textContentWrapper p {
    font-size: 2.5em;
    width: 75%;
  }
  main.LP .contentWrapper img {
    align-self: flex-end;
    height: 47%;
    top: initial;
    bottom: initial;
    margin-bottom: initial;
    display: initial;
    padding-bottom: 5%;
    max-height: 314px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait), (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  main.LP .contentWrapper img {
    height: 29em;
  }
  main.LP .contentWrapper .textContentWrapper h1 {
    font-size: 4em;
  }
  main.LP .contentWrapper .textContentWrapper p {
    font-size: 2em;
  }
}
/* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
main.courseOverviewPage, main.LP {
  background-image: linear-gradient(180deg, #5e308c 19.21%, #2064EF 102.39%);
}

nav ul li .loginButton {
  padding: 5.5% 17%;
  background-color: #2164ef;
  border-radius: 10px;
  transition-duration: 0.4s;
}
nav ul li .loginButton:hover {
  background-color: #ffffff;
  color: #2164ef;
}

#programs .main-carousel .carousel-cell a, main.LP .contentWrapper .textContentWrapper a {
  font-size: 3em;
  font-family: "Lato", Arial, sans-serif;
  background-color: #2164ef;
  transition-duration: 0.4s;
  padding: 0.5em 1em;
  color: white;
}
#programs .main-carousel .carousel-cell a:hover, main.LP .contentWrapper .textContentWrapper a:hover {
  background-color: white;
  color: #2164ef;
}

#aboutUs h2, #programs h2, .card h2, #features h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #50129f;
  font-weight: 500;
  font-size: 4.5em;
}

main.courseOverviewPage {
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
main.courseOverviewPage .midSectionContainer {
  display: flex;
  height: 100%;
}
main.courseOverviewPage .midSectionContainer .contentWrapper {
  width: 100%;
  margin: 0% 0.5%;
  padding: 0 1.5%;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .courseTitle {
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 2.5%;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .courseDescription {
  color: white;
  font-family: "Lato", Arial, sans-serif;
  font-size: 2em;
  margin-top: 5%;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .authorContainer {
  display: flex;
  margin-top: 10%;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .authorContainer p {
  color: white;
  font-size: 2em;
  font-family: "Lato", Arial, sans-serif;
  margin: initial;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .authorContainer p.authorName {
  margin: 0 2%;
  font-weight: initial;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .lastUpdateContainer {
  display: flex;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .lastUpdateContainer p {
  color: white;
  font-size: 2em;
  font-family: "Lato", Arial, sans-serif;
  margin: initial;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .lastUpdateContainer p.lastUpdate {
  margin: 0 1%;
  align-self: center;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer {
  display: flex;
  font-size: 1.75em;
  margin: 2%;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer .spokenLanguage {
  display: flex;
  color: white;
  margin-right: 5%;
  align-items: center;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer .spokenLanguage svg {
  font-size: 2em;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer .spokenLanguage p {
  font-family: "Lato", Arial, sans-serif;
  margin: initial;
  font-size: 1em;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer .subtitles {
  display: flex;
  color: white;
  align-items: center;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer .subtitles svg {
  font-size: 2em;
}
main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer .subtitles p {
  font-family: "Lato", Arial, sans-serif;
  margin: initial;
  font-size: 1em;
}
main.courseOverviewPage .midSectionContainer .courseCard {
  background-color: white;
  padding: 3%;
  flex-shrink: 0;
  width: 40%;
  min-height: 31rem;
}
main.courseOverviewPage .midSectionContainer .courseCard .price {
  color: #2164ef;
  font-size: 3em;
  font-family: "Lato", Arial, sans-serif;
}
main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6.5%;
}
main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper a {
  font-size: 2.5em;
  padding: 2%;
  margin: 1%;
  color: white;
  font-family: "Lato", Arial, sans-serif;
  background-color: #2164ef;
}
main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper .bookingButton {
  min-width: 40%;
  color: white;
  text-transform: uppercase;
  padding: 2% 4%;
}
main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper .addtoCartButton {
  min-width: 48%;
  color: #5e308c;
  background-color: transparent;
  border: 1px solid #5e308c;
}
@media only screen and (min-width: 992px) {
  main.courseOverviewPage {
    height: 63vh;
    min-height: 61em;
    padding: 0 10%;
  }
  main.courseOverviewPage .midSectionContainer .contentWrapper {
    padding-left: 7%;
  }
  main.courseOverviewPage .midSectionContainer .contentWrapper .courseTitle {
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    font-size: 4em;
  }
  main.courseOverviewPage .midSectionContainer .contentWrapper .courseDescription {
    font-size: 2.5em;
    width: 38%;
    margin: 3% 0;
  }
  main.courseOverviewPage .midSectionContainer .contentWrapper .authorContainer {
    margin: 2% 0;
  }
  main.courseOverviewPage .midSectionContainer .contentWrapper .authorContainer p {
    font-size: 2.5em;
  }
  main.courseOverviewPage .midSectionContainer .contentWrapper .lastUpdateContainer p {
    font-size: 2.5em;
  }
  main.courseOverviewPage .midSectionContainer .contentWrapper .languagesContainer {
    font-size: 2em;
    margin: initial;
  }
  main.courseOverviewPage .midSectionContainer .courseCard {
    height: 49em;
    padding: 1%;
    padding-bottom: 0;
    align-self: flex-end;
    position: absolute;
    right: 17%;
    border-radius: 5px;
    width: 32%;
    border-bottom-right-radius: initial;
    border-bottom-left-radius: initial;
  }
  main.courseOverviewPage .midSectionContainer .courseCard img {
    width: 100%;
    height: 56%;
  }
  main.courseOverviewPage .midSectionContainer .courseCard .price {
    font-size: 4.75em;
  }
  main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper {
    margin-top: 0;
  }
  main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper .bookingButton {
    width: 91%;
    font-size: 3.25em;
    transition-duration: 0.4s;
    border: 1px solid #2164ef;
  }
  main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper .bookingButton:hover {
    background-color: white;
    color: #2164ef;
  }
  main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper .addtoCartButton {
    width: 94%;
    font-size: 3.25em;
    transition-duration: 0.4s;
  }
  main.courseOverviewPage .midSectionContainer .courseCard .buttonsWrapper .addtoCartButton:hover {
    background-color: white;
    color: #2164ef;
    border: 1px solid #2164ef;
  }
}

#features {
  display: flex;
  flex-direction: column;
  margin: 3.5% 11%;
  margin-top: 0;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
#features h2 {
  align-self: flex-end;
}
#features .featuresContainer {
  display: flex;
  padding-top: 4%;
}
#features .featuresContainer .featureWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1%;
}
#features .featuresContainer .featureWrapper svg {
  color: #5e308c;
  filter: drop-shadow(0px 2px 2px gray);
  font-size: 11em;
}
#features .featuresContainer .featureWrapper h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #5e308c;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
@media only screen and (max-width: 900px) {
  #features .featuresContainer .featureWrapper h2 {
    font-size: 3em;
  }
}
#features .featuresContainer .featureWrapper p {
  font-size: 1.5em;
  text-align: center;
  width: 80%;
  font-family: "Lato", Arial, sans-serif;
}
@media only screen and (max-width: 900px) {
  #features {
    margin: 3.5% 0;
  }
  #features h2 {
    margin: 0 11%;
  }
}
@media only screen and (max-width: 600px) {
  #features h2 {
    align-self: center;
    text-align: center;
  }
  #features .featuresContainer {
    flex-direction: column;
  }
  #features .featuresContainer .featureWrapper {
    align-self: center;
    max-width: 70%;
    margin: 4.5% 0;
  }
  #features .featuresContainer .featureWrapper p {
    font-size: 2em;
  }
}

.card {
  padding: 5%;
  margin: 5%;
  box-shadow: 2px 0px 3px 1px lightgray;
}
.card h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 2.5%;
}
.card p {
  font-family: "Lato", Arial, sans-serif;
  margin: 8%;
  font-size: 2em;
}

.courseContents {
  height: 5em;
  overflow: hidden;
  max-height: 5em;
  transition-property: all;
  transition-duration: 1s;
}
.courseContents.dropdown {
  height: 100%;
  max-height: 500em;
}
.courseContents h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.courseContents h2::before {
  display: flex;
  content: url("https://api.iconify.design/mdi:arrow-right-drop-circle.svg?color=%232164ef&height=24");
}
.courseContents .contentWrapper {
  display: flex;
  flex-direction: column;
}
.courseContents .contentWrapper .itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6% 0;
}
.courseContents .contentWrapper .itemWrapper.trailer {
  margin-bottom: 10%;
}
.courseContents .contentWrapper .itemWrapper img {
  width: 71%;
}
.courseContents .contentWrapper .itemWrapper .itemHeader {
  margin: initial;
  margin-top: 1%;
  color: #2164ef;
  text-transform: uppercase;
}
.courseContents .contentWrapper .itemWrapper .itemDescription {
  margin: initial;
}

.content.card {
  display: flex;
  flex-direction: column;
}
.content.card p {
  margin: initial;
  display: inline;
}
.content.card ul {
  width: 70%;
  margin-top: 2%;
}
.content.card li {
  line-height: 28px;
}
.content.card p.altColor {
  color: #2164ef;
}

/* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
@media only screen and (min-width: 992px) {
  .midSection.courseOverviewPage {
    padding: 0 17%;
    display: flex;
    justify-content: space-between;
  }
  .midSection.courseOverviewPage .top.card {
    width: 49%;
    margin-top: 2%;
    padding: 0;
  }
  .midSection.courseOverviewPage .card {
    margin: initial;
  }
  .midSection.courseOverviewPage .card p {
    margin-top: 2%;
  }
  .midSection.courseOverviewPage .card h2 {
    font-size: 3.5em;
    margin-top: 3%;
  }

  .content.card {
    margin: 2% 17%;
    padding-left: 2.5%;
    padding-top: initial;
  }
}
#programs {
  margin: 3.5% 11%;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
#programs h2 {
  min-height: 9vh;
}
#programs .main-carousel {
  padding: 2% 4%;
  margin-bottom: 8%;
  border: none;
  display: flex;
  flex-direction: column;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* fill-in selected dot */
}
@media only screen and (max-width: 900px) {
  #programs .main-carousel {
    padding: 0;
  }
}
#programs .main-carousel .flickity-button {
  background: #2164ef;
}
#programs .main-carousel .flickity-button-icon {
  fill: white;
}
#programs .main-carousel .flickity-prev-next-button.previous {
  left: -40px;
}
#programs .main-carousel .flickity-prev-next-button.next {
  right: -40px;
}
#programs .main-carousel .carousel-cell {
  padding-top: 1%;
  width: 29%;
  max-width: 27.5vw;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  border: 1px solid lightgray;
  margin-bottom: 1%;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 3px #b8bec4;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
@media only screen and (max-width: 900px) and (max-height: 770px) {
  #programs .main-carousel .carousel-cell {
    max-width: 25vw;
  }
}
#programs .main-carousel .carousel-cell img {
  width: 28em;
}
#programs .main-carousel .carousel-cell h3 {
  margin: 1% 2%;
  font-family: "Lato", Arial, sans-serif;
  color: #5e308c;
  font-size: 3em;
  min-height: 12.5vh;
  width: 87%;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
@media only screen and (max-width: 900px) {
  #programs .main-carousel .carousel-cell h3 {
    min-height: 10vh;
  }
}
@media only screen and (max-width: 900px) and (max-height: 770px) {
  #programs .main-carousel .carousel-cell h3 {
    min-height: 12.5vh;
  }
}
#programs .main-carousel .carousel-cell p {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: 2%;
}
#programs .main-carousel .carousel-cell a {
  padding: 1% 1%;
  width: 65%;
  margin: 3%;
  border: 1px solid #2164ef;
  border-radius: 0;
}
#programs .main-carousel .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #2164ef;
}
#programs .main-carousel .flickity-page-dots .dot.is-selected {
  background: #2164ef;
}
@media only screen and (max-width: 600px) {
  #programs {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 9% 11%;
  }
  #programs h2 {
    margin: 7%;
  }
  #programs .main-carousel .carousel-cell {
    min-width: 100%;
    max-width: 100%;
  }
  #programs .main-carousel .carousel-cell img {
    width: 75%;
  }
  #programs .main-carousel .carousel-cell .moreInfoButton {
    width: 70%;
  }
}

/* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
@media only screen and (orientation: landscape) and (min-width: 350px) {
  #programs .main-carousel .carousel-cell {
    min-height: 29.5em;
    width: 32%;
  }
  #programs .main-carousel .carousel-cell a {
    margin-top: auto;
  }
}
main.LP, main.courseOverviewPage {
  background-image: linear-gradient(180deg, #5e308c 19.21%, #2064EF 102.39%);
}

nav ul li .loginButton {
  padding: 5.5% 17%;
  background-color: #2164ef;
  border-radius: 10px;
  transition-duration: 0.4s;
}
nav ul li .loginButton:hover {
  background-color: #ffffff;
  color: #2164ef;
}

main.LP .contentWrapper .textContentWrapper a, #programs .main-carousel .carousel-cell a {
  font-size: 3em;
  font-family: "Lato", Arial, sans-serif;
  background-color: #2164ef;
  transition-duration: 0.4s;
  padding: 0.5em 1em;
  color: white;
}
main.LP .contentWrapper .textContentWrapper a:hover, #programs .main-carousel .carousel-cell a:hover {
  background-color: white;
  color: #2164ef;
}

#aboutUs h2, #features h2, .card h2, #programs h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #50129f;
  font-weight: 500;
  font-size: 4.5em;
}

/* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
@media only screen and (min-width: 992px) {
  #dropdownContent {
    margin: 2% 17%;
    padding: 0 2.5%;
    height: 50em;
    max-height: initial;
    overflow: auto;
  }
  #dropdownContent #dropdownButton {
    cursor: text;
  }
  #dropdownContent #dropdownButton h2::before {
    display: none;
  }
  #dropdownContent .simplebar-scrollbar::before {
    background-color: #2164ef;
  }
  #dropdownContent .contentWrapper .itemWrapper {
    flex-direction: row;
    margin: 1% 0;
  }
  #dropdownContent .contentWrapper .itemWrapper img {
    margin-right: 1%;
    width: 14em;
  }
  #dropdownContent .contentWrapper .itemWrapper .itemHeader {
    margin-top: initial;
  }
  #dropdownContent .contentWrapper .itemWrapper .trailer {
    margin-bottom: initial;
  }
}
#aboutUs {
  display: flex;
  margin: 3.5% 11%;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
#aboutUs .contentWrapper {
  display: flex;
  flex-direction: column;
}
#aboutUs img {
  position: absolute;
  right: 11%;
  width: 50em;
  margin-top: 7%;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
@media only screen and (max-width: 900px) and (max-height: 770px) {
  #aboutUs img {
    margin-top: 5%;
    right: 2%;
  }
}
#aboutUs h2 {
  position: relative;
  z-index: 1;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
@media only screen and (max-width: 600px) {
  #aboutUs h2 {
    text-align: center;
  }
}
#aboutUs .midwidth {
  position: relative;
  width: 55%;
  font-size: 2em;
  margin-top: 3%;
  font-family: "Lato", Arial, sans-serif;
  z-index: 1;
}
#aboutUs ul {
  width: 48%;
  margin-left: 5%;
  margin-top: 2%;
}
#aboutUs ul li {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 3% 2%;
  font-size: 2em;
  font-family: "Lato", Arial, sans-serif;
}
#aboutUs ul li .cursive {
  font-style: italic;
}
#aboutUs ul li::before {
  content: "•";
  color: #5e308c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media only screen and (max-width: 600px) {
  #aboutUs {
    margin: 11%;
    flex-direction: column;
  }
  #aboutUs .contentWrapper {
    display: flex;
    flex-direction: column;
  }
  #aboutUs .contentWrapper h2 {
    order: 1;
  }
  #aboutUs .contentWrapper img {
    order: 2;
    position: initial;
    width: initial;
    max-width: 39em;
    align-self: center;
  }
  #aboutUs .contentWrapper p {
    order: 3;
    width: initial;
  }
  #aboutUs .contentWrapper ul {
    order: 4;
    width: initial;
  }
}

footer {
  height: 20vh;
  padding: 0 11%;
  display: flex;
  background-color: #5e308c;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
footer .socialMediaLinks {
  width: 11%;
  text-align: left;
}
footer .showMobile {
  display: none;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 15vw;
  text-align: center;
  margin-right: 4%;
}
footer ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer ul li a {
  color: white;
  font-size: 1.5em;
  font-family: "Lato", Arial, sans-serif;
  margin: 0.2em 0.2em;
}
footer ul li a svg {
  margin-right: 3%;
  width: 20px;
}
footer .newsletterWrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 50%;
}
footer .newsletterWrap p {
  color: white;
  font-size: 1.5em;
  font-family: "Lato", Arial, sans-serif;
  margin-bottom: 3%;
}
footer .newsletterWrap form {
  height: 40%;
  width: 130%;
}
footer .newsletterWrap form .newsletterBar {
  background: transparent;
  border: 1px solid white;
  border-radius: 8px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 100%;
  width: 70%;
  transition-duration: 0.4s;
  padding-left: 2%;
}
footer .newsletterWrap form .newsletterBar:focus {
  background-color: white;
  outline: none;
}
footer .newsletterWrap form .newsletterBar::placeholder {
  color: white;
  padding-left: 4%;
}
footer .newsletterWrap form .newsletterBar:focus::placeholder {
  color: transparent;
}
footer .newsletterWrap form .newsletterSubmitButton {
  background-color: #2164ef;
  color: white;
  height: 110%;
  width: 23%;
  transition-duration: 0.4s;
  border: 1px solid #2164ef;
  border-radius: 8px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
footer .newsletterWrap form .newsletterSubmitButton:hover {
  background-color: #ffffff;
  color: #2164ef;
}
footer .logoLink {
  align-self: center;
  margin-left: auto;
  margin-right: 13%;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
@media only screen and (max-width: 900px) and (max-height: 770px) {
  footer .logoLink {
    margin-left: 9%;
    margin-right: 11%;
  }
}
@media only screen and (max-width: 600px) {
  footer .logoLink {
    display: none;
  }
}
footer .logo {
  width: 18em;
}
@media only screen and (max-width: 1401px) {
  footer {
    height: 11vh;
  }
}
@media only screen and (max-width: 900px) {
  footer .socialMediaLinks {
    width: 16%;
  }
  footer .infoLinks {
    width: 25%;
  }
}
@media only screen and (max-width: 600px) {
  footer .socialMediaLinks {
    display: none;
  }
  footer .infoLinks {
    display: none;
  }
  footer .newsletterWrap {
    display: none;
  }
  footer .showMobile {
    display: flex;
    width: 80vw;
    flex-direction: row;
    font-size: 2em;
  }
}
@media only screen and (orientation: landscape) and (min-width: 350px) {
  footer {
    height: 20vh;
  }
}

* {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

p {
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.1;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
  /* SWITCH TO MOBILE FIRST APPROACH FOR THE COURSE OVERVIEW PAGE*/
}
@media only screen and (max-width: 1401px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
